fastapi>=0.110.0
uvicorn[standard]>=0.29.0
motor>=3.3.2
pydantic>=2.6.0
pydantic-settings>=2.2.1
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt==3.2.2
email-validator>=2.1.1
fastapi-limiter==0.1.5
redis>=4.2.0rc1,<5.0.0
reportlab>=4.2.0
boto3>=1.34.0
razorpay>=1.4.2
langchain>=0.1.16
langchain-community>=0.0.33
sentence-transformers>=2.6.0
numpy>=1.26.0
pymongo>=4.6.0
